.advantagesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10rem 0rem;
  h1 {
    text-transform: uppercase;
    width: 22%;
    font-weight: 900;
  }
  .fastTransactions,
  .growthTransaction {
    .fastTransactions__ico,
    .growthTransaction__ico {
      margin-top: 1.6rem;
      margin-right: 0.5rem;
    }
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    p {
      color: grey;
    }
    .contentTitle {
      font-size: 1.5rem;
      font-weight: 700;
      color: #000;
    }
  }
}
